.ball{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: darkblue;
    color: whitesmoke;
    padding: 5px;
    margin: 10px;
}

.balls {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}